@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.App {
  text-align: center;
}

.blueBackground {
  background-color: rgb(72, 139, 226);
}

.blueText {
  color: rgb(72, 139, 226);
}

.grayBackground {
  background-color: rgb(235, 235, 235);
}

body {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-size: 2.5em;
  text-align: left;
  padding-top: 50px;
  margin-left: 15px;
  margin-bottom: 5px;
}

.loadingSpinner {
  margin-top: 50px;
}