.groceryListHeader {
    position: relative;
    height: auto;
    width: auto;
    display: flex;
    flex-direction: row;
    margin-bottom: 3rem;
}

.groceryListName {
    position: absolute;
    left: 5%;
    text-decoration: underline;
    font-size: 1.3rem;
    font-weight: bold;
}

.groceryListQuantity {
    position: absolute;
    left: 40%;
    text-decoration: underline;
    font-size: 1.3rem;
    font-weight: bold;
}

.groceryListDiv {
    display: flex;
    flex-direction: column;
    height: 83vh;
    overflow: scroll;
}