.header {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-top: 10px;
}

.logo {
    height: 70px;
    padding-left: 10px;
}

.accountIcon {
    position: absolute;
    right: 0;
    padding-right: 10px;
}

.icon {
    margin-top: 20px;
    font-size: 50px;
}