.header {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-top: 10px;
}

.logo {
    height: 90px;
    padding-left: 10px;
}

.accountIcon {
    position: absolute;
    right: 0;
    padding-right: 10px;
}

.icon {
    font-size: 42px;
}