* {
    box-sizing: border-box;
}

.progress-area {
    background-color: #f4f4f4;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.progress {
    background-color: #d8d8d8;
    border-radius: 20px;
    position: relative;
    margin: 5px 0;
    height: 30px;
    width: 300px;
    overflow: hidden;
}

.progress-done {
    background: linear-gradient(to left, #708af2, #72d5ff);
    box-shadow: 0 3px 3px -5px #709ef2, 0 2px 5px #70a0f2;
    border-radius: 20px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 0;
    opacity: 0;
    transition: 1s ease 0.3s;
}