* {
    box-sizing: border-box;
}

.tracker-text {
    font-size: 22px;
    margin: 0;
    text-align: left;
    width: 100%;
    padding-left: 15px;
}

.progress-area {
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.progress {
    background-color: #d8d8d8;
    border-radius: 15px;
    position: relative;
    margin: 5px 0;
    height: 30px;
    width: 95%;
    overflow: hidden;
}

.progress-done-under {
    background: linear-gradient(to left, #708af2, #72d5ff);
    box-shadow: 0 3px 3px -5px #709ef2, 0 2px 5px #70a0f2;
    border-radius: 20px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 0;
    opacity: 0;
    transition: 1s ease 0.3s;
}

.progress-done-over {
    background: linear-gradient(to left, #f43b3b, #f98181);
    box-shadow: 0 3px 3px -5px #f54c4c, 0 2px 5px #f74747;
    border-radius: 20px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 0;
    opacity: 0;
    transition: 1s ease 0.3s;
}

.progress-text {
    font-size: 14px;
    margin: 0;
    text-align: left;
    width: 100%;
    padding-left: 15px;
    padding-bottom: 15px;
}

.link-edit {
    display: block;
    position: relative;
    left: 70%;
    list-style: none;
    text-decoration: none;
    color: black;
    font-size: 12px;
    width: 25%;
}  

.navbar-icon-edit {
    font-size: 28px;
    color: black;
}

.meal-card {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 20px;
}

.card-break {
    background-color: #f4f4f4;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-top: 20px;
}

.card-lunch {
    background-color: #f4f4f4;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}


.card-dinner {
    background-color: #f4f4f4;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-bottom: 120px;
}

.meal-card-col1 {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 10px;
}

.card-day {
    font-size: 28px;
}

.card-img {
    background-color: #fff;
    width: 100px;
    height: 100px;
    margin: 20px;
}

.meal-card-col2 {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    flex: 0.8;
    gap: 10px;
}

.card-name {
    margin-right: 50px;
    margin-top: 60px;
}

.card-ing {
    list-style-position: outside;
    word-break: break-word;
}

.meal-card-col3 {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 100px;
}

.card-edit {
    align-content: flex-start;
}

.card-cost {
    position: relative;
    left: 70%;
    margin-bottom: auto;
}